*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/
.gradle/
Captures/

.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

/android/local.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/app/src/main/res/values/googleservices.xml
**/android/**/GeneratedPluginRegistrant.java
.cxx/

**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/Pods/
**/.symlinks/
Xcode.app/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

*.jks
*.keystore
*.p12
*.key
**/android/key.properties
.env*

